<ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <li>
        <a href="#submenu1" class="nav-link px-0 align-middle text-white" data-bs-toggle="collapse">
            <i class="fs-4 bi-house-door"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
        </a>
    </li>
    <li>
        <a href="#" class="nav-link px-0 align-middle text-white">
            <i class="fs-4 bi-calendar-event"></i> <span class="ms-1 d-none d-sm-inline">Profile</span>
        </a>
    </li>
</ul>
